numpy
matplotlib
torch == 1.10.* --extra-index-url https://download.pytorch.org/whl/cpu
rdkit-pypi
torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-cluster -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
ogb
pytorch-ignite
