numpy
matplotlib
rdkit-pypi
torch-scatter -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-sparse -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-cluster -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-spline-conv -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
torch-geometric -f https://data.pyg.org/whl/torch-1.11.0+cpu.html
ogb
pytorch-ignite
dgl -f https://data.dgl.ai/wheels/repo.html
dglgo -f https://data.dgl.ai/wheels/repo.html